body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #ec1212;
}

h1, h2, h3 {
    color: #418a50;
}

form {
    margin-top: 20px;
}

input[type="text"], input[type="submit"] {
    padding: 8px;
    margin: 5px 0;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #aaa;
}

a {
    color: blue;
    text-decoration: none;
}
